In [255]:
import pandas as pd
import json
import re
import numpy as np

In [256]:
df = pd.read_json('entities.json', lines=True)
df.head(10)

,name,url,entity_type,type,traded_as,industry,founded,founded_by,headquarters,area_served,...,employer,notable_work,died,cause_of_death,organization,awards,home_town,relatives,•_demonym,area_code(s)
0,Facebook,https://en.wikipedia.org/wiki/Facebook,company,Public,"[NASDAQ:_FB (Class A), NASDAQ-100 component, S...","[Social media, Advertising]","February_4, 2004; 15 years ago_(2004-02-04) in...","[Mark Zuckerberg, Eduardo Saverin, Andrew McCo...","1 Hacker Way (aka 1601 Willow Road), Menlo Par...","United States (2004–present)Worldwide, except ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Summify,https://en.wikipedia.org/wiki/Summify,company,NaN,NaN,"[news aggregation, social media]",NaN,"[Mircea Paşoi, Cristian Strat]","Vancouver, British Columbia",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Periscope (app),https://en.wikipedia.org/wiki/Periscope_(app),company,"[Video streaming, Social networking service]",NaN,NaN,NaN,Kayvon Beykpour Joe Bernstein Aaron Wasserma...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Vine (service),https://en.wikipedia.org/wiki/Vine_(service),company,Video sharing,NaN,NaN,NaN,"[Dom Hofmann, Rus Yusupov, Colin Kroll]",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pinterest,https://en.wikipedia.org/wiki/Pinterest,company,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Snapchat,https://en.wikipedia.org/wiki/Snapchat,company,"[Photo sharing, Instant messaging, Video chat,...",NaN,NaN,NaN,"[Evan Spiegel, Bobby Murphy, Reggie Brown]",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,WeChat,https://en.wikipedia.org/wiki/WeChat,company,"[Instant messaging, client]",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Reddit,https://en.wikipedia.org/wiki/Reddit,company,NaN,NaN,"[Internet, media]","June_23, 2005; 14 years ago_(2005-06-23)[2]","[Steve Huffman, Aaron Swartz, Alexis Ohanian]","[San Francisco, California, U.S.]",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Instagram,https://en.wikipedia.org/wiki/Instagram,company,NaN,NaN,NaN,NaN,"[Kevin Systrom, Mike Krieger]",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Twitter,https://en.wikipedia.org/wiki/Twitter,company,Public,"[NYSE:_TWTR, S&P 500 Component]",Internet,NaN,"[Jack Dorsey, Noah Glass, Biz Stone, Evan Will...","San Francisco, California, United States",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Separate Entities JSON into separate tables

In [257]:
def dedup_df(df):
    return df.drop_duplicates('name').dropna(how='all',axis=1)

companies_df = dedup_df(df[df['entity_type'] == "company"])
persons_df = dedup_df(df[df['entity_type']=='person'])
software_df = dedup_df(df[df['entity_type'] == "programming_language"])

persons_df = persons_df.drop([19])
companies_df = companies_df.drop([47, 66])
software_df = software_df.drop([12, 10, 30, 42, 51, 55, 57, 65])

In [258]:
print(companies_df.columns)
companies_df = companies_df[['name', 'url', 'entity_type', 'type', 'industry',
       'founded', 'founded_by', 'headquarters', 'key_people', 'products', 'revenue', 'owner', 'subsidiaries', 'website',
       'developer(s)', 'written_in','type_of_site', 'employees','coordinates', 'users', 'parent']]
companies_df

Index(['name', 'url', 'entity_type', 'type', 'traded_as', 'industry',
       'founded', 'founded_by', 'headquarters', 'area_served', 'key_people',
       'products', 'revenue', 'owner', 'subsidiaries', 'website',
       'developer(s)', 'stable_release', 'android', 'ios', 'written_in',
       'operating_system', 'available_in', 'license', 'alexa_rank',
       'android_(beta)', 'size', 'macos', 'windows_phone_8.1', 'symbian_v3',
       'symbian_v5', 'type_of_site', 'employees', 'advertising',
       'registration', 'windows_10', 'android_(alpha)', 'coordinates', 'users',
       'brands', 'parent', 'isin', 'operating_income', 'net_income',
       'total_assets', 'total_equity', 'number_of_employees'],
      dtype='object')

,name,url,entity_type,type,industry,founded,founded_by,headquarters,key_people,products,...,owner,subsidiaries,website,developer(s),written_in,type_of_site,employees,coordinates,users,parent
0,Facebook,https://en.wikipedia.org/wiki/Facebook,company,Public,"[Social media, Advertising]","February_4, 2004; 15 years ago_(2004-02-04) in...","[Mark Zuckerberg, Eduardo Saverin, Andrew McCo...","1 Hacker Way (aka 1601 Willow Road), Menlo Par...","[Mark Zuckerberg (Chairman and CEO), Sheryl Sa...","[Messenger, Watch, Portal]",...,"Facebook, Inc._","[Instagram, WhatsApp, Oculus, Calibra]",about.fb.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Summify,https://en.wikipedia.org/wiki/Summify,company,NaN,"[news aggregation, social media]",NaN,"[Mircea Paşoi, Cristian Strat]","Vancouver, British Columbia",NaN,NaN,...,NaN,NaN,summify.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Periscope (app),https://en.wikipedia.org/wiki/Periscope_(app),company,"[Video streaming, Social networking service]",NaN,NaN,Kayvon Beykpour Joe Bernstein Aaron Wasserma...,NaN,NaN,NaN,...,NaN,NaN,www.periscope.tv,Twitter,"[Go, server-side, [4]]",NaN,NaN,NaN,NaN,NaN
3,Vine (service),https://en.wikipedia.org/wiki/Vine_(service),company,Video sharing,NaN,NaN,"[Dom Hofmann, Rus Yusupov, Colin Kroll]",NaN,NaN,NaN,...,NaN,NaN,vine.co,"Vine Labs, Inc. (Twitter)",NaN,NaN,NaN,NaN,NaN,NaN
4,Pinterest,https://en.wikipedia.org/wiki/Pinterest,company,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,www.pinterest.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Snapchat,https://en.wikipedia.org/wiki/Snapchat,company,"[Photo sharing, Instant messaging, Video chat,...",NaN,NaN,"[Evan Spiegel, Bobby Murphy, Reggie Brown]",NaN,NaN,NaN,...,NaN,NaN,www.snapchat.com,Snap Inc.,NaN,NaN,NaN,NaN,NaN,NaN
6,WeChat,https://en.wikipedia.org/wiki/WeChat,company,"[Instant messaging, client]",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"[www.wechat.com, weixin.qq.com]",Tencent Holdings Limited,NaN,NaN,NaN,NaN,NaN,NaN
7,Reddit,https://en.wikipedia.org/wiki/Reddit,company,NaN,"[Internet, media]","June_23, 2005; 14 years ago_(2005-06-23)[2]","[Steve Huffman, Aaron Swartz, Alexis Ohanian]","[San Francisco, California, U.S.]","[Steve Huffman (co-founder and CEO), Jen Wong ...",NaN,...,"[Advance Publications, [1]]",NaN,www.reddit.com,NaN,"[Python, React[notes 3]]","[Social news, media aggregation]",400 (September 2018)[3],NaN,NaN,NaN
8,Instagram,https://en.wikipedia.org/wiki/Instagram,company,NaN,NaN,NaN,"[Kevin Systrom, Mike Krieger]",NaN,NaN,NaN,...,NaN,NaN,Instagram.com,"Facebook, Inc.",NaN,NaN,NaN,NaN,NaN,NaN
9,Twitter,https://en.wikipedia.org/wiki/Twitter,company,Public,Internet,NaN,"[Jack Dorsey, Noah Glass, Biz Stone, Evan Will...","San Francisco, California, United States","[Omid Kordestani, (Executive Chairman), Jack D...",NaN,...,NaN,"[Vine, Periscope, MoPub]","[twitter.com, ]",NaN,"[Java, Ruby, Scala, JavaScript]","[News, social networking service]","4,600 (September 2019)[1]",[37°46′36″N 122°25′00″W﻿ / ﻿37.7768°N 122.4166...,"[321 million active users, (February 2019)]",NaN
13,Oculus VR,https://en.wikipedia.org/wiki/Oculus_VR,company,Division,Virtual reality,"July_2012; 7_years ago_(2012-07) in Irvine, Ca...","[Palmer Luckey, Brendan Iribe, Michael Antonov...","Menlo Park, California, U.S.","[Andrew Bosworth (Vice President, VR/AR)]","[Samsung Gear VR, Oculus Rift CV1Oculus GoOcul...",...,NaN,Oculus Studios,oculus.com,NaN,NaN,NaN,NaN,NaN,NaN,"Facebook Technologies, LLC (Facebook, Inc.)"
14,WhatsApp,https://en.wikipedia.org/wiki/WhatsApp,company,"[Instant messaging, social media]",NaN,NaN,"[Brian Acton, Jan Koum]",NaN,NaN,NaN,...,NaN,NaN,WhatsApp.com,"WhatsApp Inc. (Facebook, Inc.)","[Erlang, [4]]",NaN,NaN,NaN,NaN,NaN
24,Tencent,https://en.wikipedia.org/wiki/Tencent,company,Public,Conglomerate,NaN,"[Ma Huateng, Zhang Zhidong, Xu Chenye, Chen Yi...","[Tencent Binhai Mansion, Nanshan District, She...","[Ma Huateng (Chairman, CEO), Martin Lau (Presi...","[Search engine, Social networking, instant mes...",...,"[Naspers, [2]]",NaN,tencent.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Snap Inc.,https://en.wikipedia.org/wiki/Snap_Inc.,company,Public,"[Hardware, Social media]",NaN,"[Evan Spiegel, Bobby Murphy]","Santa Monica, California, U.S.","[Michael Lynton, Chairman, Evan Spiegel, CEO, ...","[Snapchat, Spectacles, Bitmoji]",...,"[Evan Spiegel, Bobby Murphy]",NaN,Snap.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [259]:
print(persons_df.columns.values)
persons_df

['name' 'url' 'entity_type' 'website' 'residence' 'alma_mater'
 'occupation' 'born' 'education' 'salary' 'net_worth' 'political_party'
 'board_member_of' 'spouse(s)' 'children' 'known_for' 'title'
 'nationality' 'citizenship' 'other_names' 'employer' 'notable_work'
 'died' 'cause_of_death' 'organization' 'awards' 'home_town' 'relatives']

,name,url,entity_type,website,residence,alma_mater,occupation,born,education,salary,...,citizenship,other_names,employer,notable_work,died,cause_of_death,organization,awards,home_town,relatives
16,Mike Schroepfer,https://en.wikipedia.org/wiki/Mike_Schroepfer,person,NaN,San Francisco Bay area,Stanford University,"[CTO, Facebook]",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Sheryl Sandberg,https://en.wikipedia.org/wiki/Sheryl_Sandberg,person,NaN,"[Menlo Park, California, [1]]",NaN,"[COO, Facebook]","Sheryl Kara Sandberg (1969-08-28) August 28, 1...","[Harvard University, BA, MBA]","[US$, [2]]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Chris Hughes,https://en.wikipedia.org/wiki/Chris_Hughes,person,NaN,NaN,Harvard University,Entrepreneur,"Christopher Hughes (1983-11-26) November 26, 1...",Phillips Academy,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Evan Spiegel,https://en.wikipedia.org/wiki/Evan_Spiegel,person,NaN,"[Brentwood, Los Angeles, California, [1]]",Stanford University,Entrepreneur,"[Los Angeles, California]",Crossroads School for Arts and Sciences,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Evan Williams (Internet entrepreneur),https://en.wikipedia.org/wiki/Evan_Williams_(I...,person,NaN,"San Francisco, California, US",NaN,Internet Entrepreneur,"[Clarks, Nebraska]",NaN,NaN,...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Omid Kordestani,https://en.wikipedia.org/wiki/Omid_Kordestani,person,NaN,"[Atherton, California, [3]]","[San Jose State University, BS, Stanford Unive...","[Executive Chairman, Twitter]","[Tehran, [1], Iran, [2]]",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Biz Stone,https://en.wikipedia.org/wiki/Biz_Stone,person,NaN,"Marin County, California",NaN,"[Creative director, software engineer, busines...",NaN,NaN,NaN,...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Jack Dorsey,https://en.wikipedia.org/wiki/Jack_Dorsey,person,NaN,"[San Francisco, California]","[University of Missouri–Rolla, New York Univer...","[Programmer, internet entrepreneur]","[[1], St. Louis, Missouri]",NaN,"[Square, Inc., Twitter, [2]]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Steve Huffman,https://en.wikipedia.org/wiki/Steve_Huffman,person,NaN,"San Francisco, California",University of Virginia,"[Co-founder and CEO of Reddit, Co-founder of H...",NaN,Computer Science,NaN,...,NaN,spez[1],Reddit,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Alexis Ohanian,https://en.wikipedia.org/wiki/Alexis_Ohanian,person,Alexisohanian.com,"[West Palm Beach, Florida, citation needed]",University of Virginia,"[Entrepreneur, venture capitalist, investor]","Alexis Kerry Ohanian (1983-04-24) April 24, 19...",NaN,NaN,...,NaN,NaN,NaN,"[Reddit, Initialized Capital]",NaN,NaN,NaN,NaN,NaN,NaN
48,Aaron Swartz,https://en.wikipedia.org/wiki/Aaron_Swartz,person,aaronsw.com,NaN,Stanford University,"Software developer, writer, internet activist","[[1], Highland Park, Illinois, [2]]",NaN,NaN,...,NaN,NaN,NaN,NaN,"January 11, 2013(2013-01-11) (aged_26)Brooklyn...",Suicide by hanging,"[Creative Commons, Reddit, Open Library, DeadD...","[ArsDigita Prize, American Library Association...",NaN,NaN
53,Bobby Murphy (businessman),https://en.wikipedia.org/wiki/Bobby_Murphy_(bu...,person,NaN,"[Venice, Los Angeles, California]","[Stanford University, B.S.]","[Entrepreneur, Software engineer]","Robert Cornelius Murphy (1988-07-19) July 19, ...","The School of the Madeleine, Saint Mary's Coll...",NaN,...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Berkeley, California]",NaN
59,Dustin Moskovitz,https://en.wikipedia.org/wiki/Dustin_Moskovitz,person,NaN,NaN,Harvard University,NaN,"[[1], Gainesville, Florida]",NaN,NaN,...,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Eduardo Saverin,https://en.wikipedia.org/wiki/Eduardo_Saverin,person,www.facebook.com/saverin,Singapore,Harvard University (BA),NaN,"Eduardo Luiz Saverin (1982-03-19) March 19, 19...",NaN,NaN,...,"[Brazil, [1], [2]]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Mark Zuckerberg,https://en.wikipedia.org/wiki/Mark_Zuckerberg,person,facebook.com/zuck,NaN,NaN,Internet entrepreneur,"Mark Elliot Zuckerberg (1984-05-14) May 14, 19...",NaN,"[One-dollar salary, [1]]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dobbs Ferry, New York, U.S.","[Randi Zuckerberg, Donna Zuckerberg]"

In [260]:
software_df

,name,url,entity_type,type,website,stable_release,written_in,license,white_paper,code_repository,...,designed_by,developer,first_appeared,typing_discipline,filename_extensions,platform,implementation_language,os,initial_release,repository
26,JavaScript,https://en.wikipedia.org/wiki/JavaScript,programming_language,NaN,Mozilla,ECMAScript 2019[3]\n / June_2019; 5_month...,NaN,NaN,NaN,NaN,...,Brendan Eich,"[Netscape Communications Corporation, Mozilla ...","December_4, 1995; 23 years ago_(1995-12-04)[2]","[Dynamic, duck]","[.js, .mjs[4]]",NaN,NaN,NaN,NaN,NaN
27,Scala (programming language),https://en.wikipedia.org/wiki/Scala_(programmi...,programming_language,NaN,www.scala-lang.org,2.13.1\n / 11_June 2019; 5 months ago_(20...,NaN,"[Apache License 2.0, [2]]",NaN,NaN,...,Martin Odersky,Programming Methods Laboratory of École Polyte...,NaN,"[Inferred, static, strong, structural]",NaN,"[JVM, JavaScript (Scala.js), LLVM (Scala Nativ...",NaN,NaN,NaN,NaN
28,Ruby (programming language),https://en.wikipedia.org/wiki/Ruby_(programmin...,programming_language,NaN,www.ruby-lang.org,"[[1], [±]]",NaN,"[Ruby License, GPLv2, 2-clause BSD, [2], [3], ...",NaN,NaN,...,Yukihiro Matsumoto,NaN,NaN,"[Duck, dynamic, strong]",NaN,NaN,C,Cross-platform,NaN,NaN
29,Java (programming language),https://en.wikipedia.org/wiki/Java_(programmin...,programming_language,NaN,oracle.com/java/,NaN,NaN,NaN,NaN,NaN,...,James Gosling,Sun Microsystems,"May_23, 1995; 24 years ago_(1995-05-23)[1]","[Static, strong, safe, nominative, manifest]","[.class, .jar]",NaN,NaN,NaN,NaN,NaN
37,React (web framework),https://en.wikipedia.org/wiki/React_(JavaScrip...,programming_language,JavaScript library,reactjs.org,"16.12.0\n / November_14, 2019; 4 days ago_(2...",JavaScript,MIT License,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Web platform,NaN,NaN,"May_29, 2013; 6 years ago_(2013-05-29)[1]",React Repository
38,Python (programming language),https://en.wikipedia.org/wiki/Python_(programm...,programming_language,NaN,www.python.org,"[[2], [3]]",NaN,Python Software Foundation License,NaN,NaN,...,Guido van Rossum,Python Software Foundation,1990; 29_years ago_(1990)[1],"[Duck, dynamic, gradual, [4]]","[[5], [6]]",NaN,NaN,NaN,NaN,NaN

## Create relational Dataframes

In [336]:
person_list = persons_df['name'].values
person_columns = persons_df.columns.values


software_list = software_df['name'].values
software_list = [s.split(' ')[0] for s in software_list]

company_list = companies_df['name'].values
company_list = [c.split(' ')[0] for c in company_list]

#additional entities dataframes
products_df = pd.DataFrame(columns=['name', 'entity_type'])
university_df = pd.DataFrame(columns=['name', 'entity_type'])
industry_df = pd.DataFrame(columns=['name', 'entity_type'])




#relations dataframes
founded_df = pd.DataFrame(columns=['name', 'company', 'founded_date'])
designed_df = pd.DataFrame(columns=['name', 'programming_language'])
written_in_df = pd.DataFrame(columns=['company','programming_language'])
key_people_df = pd.DataFrame(columns=['name', 'company', 'role'])        #TO DO 
product_of_df = pd.DataFrame(columns=['name', 'company'])
alma_mater_df = pd.DataFrame(columns=['name', 'university', 'degree'])
subsidiary_of_df = pd.DataFrame(columns=['name', 'parent_company'])
parent_of_df = pd.DataFrame(columns=['name', 'subsidiary_company'])
industry_of_df = pd.DataFrame(columns=['company', 'industry'])

for index, row in companies_df.iterrows():
    company_name = row['name']
    
    #founded_by relation processing
    founded = row['founded']
    founded_by = row['founded_by']
    if type(founded) == float:
        founded = ''
    founded_date = founded.split(';')[0]
    if type(founded_by) != list:
        if type(founded_by) == float:
            founded_by = []
        else:
            founded_by =founded_by.split('  ')
    for f in founded_by:
        if f not in person_list:
            persons_df = persons_df.append({'name': f, 'entity_type': "person"}, ignore_index=True)
        founded_df = founded_df.append({'name': f, 'company': company_name, 'founded_date': founded_date}, ignore_index=True)
    
    #key_people relation processing
    key_people = row['key_people']
    if type(key_people) == float:
        key_people = []
    
    #written_in relation processing
    written_in = row['written_in']
    if type(written_in) == float:
        written_in = []
    for w in written_in:
        w = re.sub(r'\[.*?]', '',w)
        if w is not '':
            if w not in software_list:
                software_df = software_df.append({'name': w, 'entity_type': 'programming_language'}, ignore_index=True)
            written_in_df = written_in_df.append({'company': company_name, 'programming_language': w}, ignore_index=True)
    
    #product_of relation processing
    products = row['products']
    if type(products) == float:
        products = []
    for p in products:
        products_df = products_df.append({'name': p, 'entity_type': 'product'}, ignore_index=True)
        product_of_df = product_of_df.append({'name': p, 'company': company_name},ignore_index=True)
    
    #subsidiary_of and parent_of relation processing
    subsidiaries = row['subsidiaries']
    if type(subsidiaries) == float:
        subsidiaries = []
    if type(subsidiaries) == str:
        subsidiaries = [subsidiaries]
    for s in subsidiaries:
        if s not in company_list:
            companies_df = companies_df.append({'name': s, 'entity_type': 'company'}, ignore_index=True)
        subsidiary_of_df = subsidiary_of_df.append({'name': s, 'parent_company': company_name}, ignore_index=True)
        parent_of_df = parent_of_df.append({'name': company_name, 'subsidiary_company': s}, ignore_index=True)
    
    #industry_of relation processing
    industry_type = row['type']
    industries = row['industry']
    type_of_website = row['type_of_site']
    
    if type(industry_type) == float:
        industry_type = []
    if type(industry_type) == str:
        if industry_type not in ['Public', 'Division']:
            industry_type = [industry_type]
        else:
            industry_type = []
    
    if type(industries) == float:
        industries = []
    if type(industries) == str:
        industries = [industries]
    if industries == ['Conglomerate']:
        industries = []
    
    if type(type_of_website) == float:
        type_of_website = []
    
    industry_list = industry_type + industries + type_of_website
    industry_list = [i.lower() for i in industry_list]
    for i in industry_list:
        industry_df = industry_df.append({'name': i, 'entity_type': 'industry'}, ignore_index=True)
        industry_of_df = industry_of_df.append({'company': company_name, 'industry': i}, ignore_index=True)

            
for index, row in software_df.iterrows():
    #designed_by relation processing
    designed_by = row['designed_by']
    language_name = row['name']
    if type(designed_by) != list:
        if type(designed_by) == float:
            designed_by = []
        else:
            designed_by =designed_by.split('  ')
    for f in designed_by:
        if f not in person_list:
            append_df = pd.DataFrame(columns=person_columns)
            persons_df = persons_df.append({'name': f, 'entity_type': "person"}, ignore_index=True)
        designed_df = designed_df.append({'name': f, 'programming_language': language_name}, ignore_index=True)

        
for index, row in persons_df.iterrows():
    #alma_mater processing
    person_name = row['name']
    alma_mater = row['alma_mater']
    if type(alma_mater) == list:
        for i in range(len(alma_mater)):
            if "University" in alma_mater[i]:
                university = alma_mater[i]
                try:
                    if "University" not in alma_mater[i+1]:
                        degree = alma_mater[i+1]
                except:
                    degree = ''
                university_df = university_df.append({'name': university, 'entity_type': 'university'}, ignore_index=True)
                alma_mater_df = alma_mater_df.append({'name': person_name, 'university': university, 'degree': degree}, ignore_index=True)
    if type(alma_mater) == str:
        university = alma_mater
        university_df = university_df.append({'name': university, 'entity_type': 'university'}, ignore_index=True)
        degree = ''
        if '(' in university:
            university,degree = university.split('(')
            degree = degree.replace(')', '')
        alma_mater_df = alma_mater_df.append({'name': person_name, 'university': university, 'degree': degree}, ignore_index=True)

In [271]:
persons_df.columns

Index(['name', 'url', 'entity_type', 'website', 'residence', 'alma_mater',
       'occupation', 'born', 'education', 'salary', 'net_worth',
       'political_party', 'board_member_of', 'spouse(s)', 'children',
       'known_for', 'title', 'nationality', 'citizenship', 'other_names',
       'employer', 'notable_work', 'died', 'cause_of_death', 'organization',
       'awards', 'home_town', 'relatives'],
      dtype='object')

In [273]:
companies_df.columns

Index(['name', 'url', 'entity_type', 'type', 'industry', 'founded',
       'founded_by', 'headquarters', 'key_people', 'products', 'revenue',
       'owner', 'subsidiaries', 'website', 'developer(s)', 'written_in',
       'type_of_site', 'employees', 'coordinates', 'users', 'parent'],
      dtype='object')

In [275]:
software_df.columns

Index(['name', 'url', 'entity_type', 'type', 'website', 'stable_release',
       'written_in', 'license', 'white_paper', 'code_repository',
       'source_model', 'paradigm', 'designed_by', 'developer',
       'first_appeared', 'typing_discipline', 'filename_extensions',
       'platform', 'implementation_language', 'os', 'initial_release',
       'repository'],
      dtype='object')

In [266]:
#written_in_df

In [279]:
CompaniesDF=companies_df[['name']]
PersonsDF=persons_df[['name']]
SoftwareDF=software_df[['name']]
#SoftwareDF
#PersonsDF
#CompaniesDF

In [280]:
#alma_mater_df

In [281]:
university_df.sort_values("name", inplace = True)

university_df.drop_duplicates(subset ="name", 
                     keep = 'first', inplace = True)

university_df

#data.drop_duplicates(subset ="First Name", 
#                     keep = False, inplace = True)

                            name entity_type
1             Harvard University  university
12       Harvard University (BA)  university
6            New York University  university
3      San Jose State University  university
0            Stanford University  university
5   University of Missouri–Rolla  university
7         University of Virginia  university

In [282]:
#PersonsDF.to_csv('PersonsDF.csv',encoding='utf-8',index=False)

In [227]:
#persons_df

In [288]:
products_df.sort_values('name',inplace=True)

DF_Products = products_df.reset_index()
DF_Products.rename(columns = {'index':'ID'}, inplace = True) 
DF_Products['ID'] = DF_Products['ID']+1
DF_Products=DF_Products[['ID','name']]

DF_Products.to_csv('DF_Products.csv',encoding='utf-8',index=False)
#DF_Products
#DF_Products.shape

print(PersonsDF)
print(CompaniesDF)
print(SoftwareDF)
print(university_df)
print(industry_df)

In [293]:
CompaniesDF.sort_values("name", inplace = True)

CompaniesDF.drop_duplicates(subset ="name", 
                     keep = 'first', inplace = True)


DF_Companies = CompaniesDF.reset_index()
DF_Companies.rename(columns = {'index':'ID'}, inplace = True) 
DF_Companies['ID'] = DF_Companies['ID']+1
#print(DF_Companies.shape)
#CompaniesDF.shape
DF_Companies.to_csv('DF_Companies.csv',encoding='utf-8',index=False)

/Users/thomaswaldschmidt/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/thomaswaldschmidt/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [295]:
PersonsDF.sort_values("name", inplace = True)

PersonsDF.drop_duplicates(subset ="name", 
                     keep = 'first', inplace = True)

DF_Persons = PersonsDF.reset_index()
DF_Persons.rename(columns = {'index':'ID'}, inplace = True) 
DF_Persons['ID'] = DF_Persons['ID']+1
DF_Persons.to_csv('DF_Persons.csv',encoding='utf-8',index=False)
#DF_Persons

/Users/thomaswaldschmidt/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/thomaswaldschmidt/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [323]:
SoftwareDF.sort_values("name", inplace = True)

SoftwareDF.drop_duplicates(subset ="name", 
                     keep = 'first', inplace = True)

DF_Software = SoftwareDF.reset_index()
DF_Software.rename(columns = {'index':'ID'}, inplace = True) 
DF_Software['ID'] = DF_Software['ID']+1
DF_Software.to_csv('DF_Software.csv',encoding='utf-8',index=False)

/Users/thomaswaldschmidt/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/thomaswaldschmidt/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [297]:
DF_University = university_df.reset_index()
DF_University.rename(columns = {'index':'ID'}, inplace = True) 
DF_University['ID'] = DF_University['ID']+1
DF_University.to_csv('DF_University.csv',encoding='utf-8',index=False)

In [298]:
industry_df.sort_values("name", inplace = True)

industry_df.drop_duplicates(subset ="name", 
                     keep = 'first', inplace = True)

DF_Industry = industry_df.reset_index()
DF_Industry.rename(columns = {'index':'ID'}, inplace = True) 
DF_Industry['ID'] = DF_Industry['ID']+1
DF_Industry.to_csv('DF_Industry.csv',encoding='utf-8',index=False)

df_left = pd.merge(df1, df2, on='id', how='left')

df_left


df_suffix = pd.merge(df1, df2, left_on='id',right_on='id',how='outer',suffixes=('_left','_right'))

df_suffix


df1['Grade'] = np.where(df1['Score'] >=40, 'Pass','Fail')
df1

In [374]:

#founded_df

#df1['company']=np.where(df1['company']=='Periscope (app)','Periscope',df1['company'])
#df1['company']=np.where(df1['company']=='Vine (service)','Vine',df1['company'])
#df1['company']=np.where(df1['company']=='Oculus VR','Oculus',df1['company'])
#df1['company']=np.where(df1['company']=='Snap Inc.','Snap',df1['company'])
#df1

In [235]:
#Creating Founded by relationship

In [306]:
founded_by_DF=pd.merge(founded_df,DF_Companies,left_on='company',right_on='name',how='left')
founded_by_DF=pd.merge(founded_by_DF,DF_Persons,left_on='name_x',right_on='name',how='left')
#founded_by_DF
founded_by_DF.rename(columns = {'ID_x':'CompanyID'}, inplace = True)
founded_by_DF.rename(columns = {'ID_y':'PersonsID'}, inplace = True)
final_founded_by_df=founded_by_DF[['CompanyID','PersonsID','founded_date']]
final_founded_by_df.to_csv('founded_by.csv',encoding='utf-8',index=False)

In [237]:
#Creating Designed Relationship table

In [337]:
#designed_df['programming_language']=np.where(designed_df['programming_language']=='Scala (programming language)','Scala',designed_df['programming_language'])
#designed_df['programming_language']=np.where(designed_df['programming_language']=='Ruby (programming language)','Ruby',designed_df['programming_language'])
#designed_df['programming_language']=np.where(designed_df['programming_language']=='Java (programming language)','Java',designed_df['programming_language'])
#designed_df['programming_language']=np.where(designed_df['programming_language']=='Python (programming language)','Python',designed_df['programming_language'])

print(designed_df)
DF_Software

                 name           programming_language
0        Brendan Eich                     JavaScript
1      Martin Odersky   Scala (programming language)
2  Yukihiro Matsumoto    Ruby (programming language)
3       James Gosling    Java (programming language)
4    Guido van Rossum  Python (programming language)

   ID                           name           programming_language
0   9                         Erlang                         Erlang
1   7                             Go                             Go
2   4    Java (programming language)    Java (programming language)
3   1                     JavaScript                     JavaScript
4   6  Python (programming language)  Python (programming language)
5   5          React (web framework)                          React
6   3    Ruby (programming language)    Ruby (programming language)
7   2   Scala (programming language)   Scala (programming language)
8   8                    server-side                    server-side

In [338]:
designed_by_DF=pd.merge(designed_df,DF_Software,left_on='programming_language',right_on='name',how='left')
designed_by_DF=pd.merge(designed_by_DF,DF_Persons,left_on='name_x',right_on='name',how='left') 
designed_by_DF    
designed_by_DF.rename(columns = {'ID_x':'LanguageID'}, inplace = True)
designed_by_DF.rename(columns = {'ID_y':'PersonsID'}, inplace = True)
Final_designed_by_DF=designed_by_DF[['LanguageID','PersonsID']]
#Final_designed_by_DF
#Final_designed_by_DF.to_csv('designed_by.csv',encoding='utf-8',index=False)
#designed_by_DF
#DF_Persons

   LanguageID  PersonsID
0           1         45
1           2         46
2           3         47
3           4         48
4           6         49

In [344]:
#Creating writtend DF
#written_in_df
#DF_Software
DF_Software['programming_language']=np.where(DF_Software['name']=='Scala (programming language)','Scala',DF_Software['name'])
DF_Software['programming_language']=np.where(DF_Software['name']=='Ruby (programming language)','Ruby',DF_Software['programming_language'])
DF_Software['programming_language']=np.where(DF_Software['name']=='Java (programming language)','Java',DF_Software['programming_language'])
DF_Software['programming_language']=np.where(DF_Software['name']=='Python (programming language)','Python',DF_Software['programming_language'])
DF_Software['programming_language']=np.where(DF_Software['name']=='React (web framework)','React',DF_Software['programming_language'])
DF_Software

   ID                           name programming_language
0   9                         Erlang               Erlang
1   7                             Go                   Go
2   4    Java (programming language)                 Java
3   1                     JavaScript           JavaScript
4   6  Python (programming language)               Python
5   5          React (web framework)                React
6   3    Ruby (programming language)                 Ruby
7   2   Scala (programming language)                Scala
8   8                    server-side          server-side

In [348]:
#written_in_df['company']=np.where(written_in_df['company']=='Periscope (app)','Periscope',written_in_df['company'])
written_in_df

written_in_DF=pd.merge(written_in_df,DF_Software,left_on='programming_language',right_on='programming_language',how='left')
written_in_DF=pd.merge(written_in_DF,DF_Companies,left_on='company',right_on='name',how='left') 
#written_in_DF
written_in_DF.rename(columns = {'ID_x':'LanguageID'}, inplace = True)
written_in_DF.rename(columns = {'ID_y':'CompanyID'}, inplace = True)
Final_written_in_df=written_in_DF[['LanguageID','CompanyID']]
Final_written_in_df
Final_written_in_df.to_csv('written_in.csv',encoding='utf-8',index=False)

tmp=pd.merge(DF_Companies,written_in_DF[['LanguageID','CompanyID']] ,left_on='ID',right_on='CompanyID', how='left').drop('CompanyID',axis=1)
tmp

In [373]:
#DF_Companies

In [351]:
product_of_DF=pd.merge(product_of_df,DF_Companies,left_on='company',right_on='name',how='left') 
product_of_DF2=pd.merge(product_of_DF,DF_Products,left_on='name_x',right_on='name',how='left') 

#product_of_DF2

product_of_DF2.rename(columns = {'ID_x':'CompanyID'}, inplace = True)
product_of_DF2.rename(columns = {'ID_y':'ProductID'}, inplace = True)
final_product_of_DF=product_of_DF2[['CompanyID','ProductID']]
final_product_of_DF.to_csv('product_of.csv',encoding='utf-8',index=False)

In [370]:
alma_mater_of=pd.merge(alma_mater_df,DF_Persons,left_on='name',right_on='name',how='left')
alma_mater_of=pd.merge(alma_mater_of,DF_University,left_on='university',right_on='name',how='left')
alma_mater_of.rename(columns={'ID_x':'PersonsID'},inplace=True)
alma_mater_of.rename(columns={'ID_y':'UniversityID'},inplace=True)
#alma_mater_of

final_alma_of_df=alma_mater_of[['PersonsID','UniversityID','degree']]
final_alma_of_df['UniversityID']=np.where(final_alma_of_df['PersonsID']==14,2,final_alma_of_df['UniversityID'])
final_alma_of_df['UniversityID'] = final_alma_of_df['UniversityID'].astype(int)
#final_alma_of_df
final_alma_of_df.to_csv('alma_mater_of.csv',encoding='utf-8',index=False)

/Users/thomaswaldschmidt/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/thomaswaldschmidt/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [360]:
industry_of_df
#industry_of_df['company']=np.where(industry_of_df['company']=='Oculus VR','Oculus',industry_of_df['company'])
#industry_of_df['company']=np.where(industry_of_df['company']=='Snap Inc.','Snap',industry_of_df['company'])
#industry_of_df['company']=np.where(industry_of_df['company']=='Periscope (app)','Periscope',industry_of_df['company'])
#industry_of_df['company']=np.where(industry_of_df['company']=='Vine (service)','Vine',industry_of_df['company'])
industry_of_df2=pd.merge(industry_of_df,DF_Companies,left_on='company',right_on='name', how='left')
industry_of_df2=pd.merge(industry_of_df2,DF_Industry,left_on='industry',right_on='name', how='left')
industry_of_df2.rename(columns={'ID_x':'CompanyID','ID_y':'IndustryID'},inplace=True)
#industry_of_df2
final_industry_of_df=industry_of_df2[['CompanyID','IndustryID']]
final_industry_of_df.to_csv('industry_of.csv',encoding='utf-8',index=False)

In [372]:
#subsidiary_of_df